@charset "UTF-8";
/************************
メイン
************************/
.container {
  max-width: 1440px;
  margin: 30px auto;
  padding: 0 20px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -20px;
  padding: 0;
  list-style: none;
}

.card-list-item {
  margin-top: 20px;
}

.card {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.card:hover {
  color: orangered;
}

.card-image {
  overflow: hidden;
}
.card-image img {
  max-width: none;
  width: 100%;
  border-radius: 5px 5px 0 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-text {
  margin: 20px;
}

@media screen and (min-width: 768px), print {
  .card-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card-list-item {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 992px), print {
  .card-list::after {
    content: "";
    display: block;
    width: calc((100% - 40px) / 3);
  }
  .card-list-item {
    width: calc((100% - 40px) / 3);
  }
}