$breakpoint: (
    sp: 'screen and (max-width: 767px)',
    tab: 'screen and (min-width: 768px)',
    pc: 'screen and (min-width: 992px)'
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp), print} {
        @content;
    }
}

/* ===============================================
メインコンテンツ
=============================================== */

.container {
    max-width: 1440px;
    margin: 30px auto;
    padding: 0 20px;
}

.checker {
    display: flex;
    flex-direction: column-reverse;
}

.checker-body {
    padding: 30px;
    background: #eaffea;
}

.checker-title {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.2em;
}

.checker-text {
    margin-top: 20px;
    line-height: 1.7;
}

.checker-image {
    img {
        max-width: none;
        width: 100%;
    }
}

/* ===============================================
レスポンシブ
=============================================== */

@include mq('tab') {
    .checker {
        flex-direction: row-reverse;
    }

    .checker.reverse {
        flex-direction: row;
    }

    .checker-body {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .checker-image {
        width: 50%;
    }
}